{% extends 'base.html.twig' %}

    {% block body %}
        <div class="container">
            <h1 class="my-5">Espace membre</h1>            
            <div class="row">
                <div class="col-md-3">
                    {% include 'account/__menu.html.twig' %}
                </div>
                <div class="col-md-9">
                    <h5>Mes adresses</h5>
                    {{ form_start(addressForm) }}
                        <div class="row">
                            <diV class="col-md-6">{{ form_row(addressForm.firstname) }}</div>
                            <diV class="col-md-6">{{ form_row(addressForm.lastname) }}</div>
                            <diV class="col-md-6">{{ form_row(addressForm.address) }}</div>
                            <diV class="col-md-6">{{ form_row(addressForm.postal) }}</div>
                            <diV class="col-md-6">{{ form_row(addressForm.city) }}</div>
                            <diV class="col-md-6">{{ form_row(addressForm.country) }}</div>
                            <diV class="col-md-6">{{ form_row(addressForm.phone) }}</div>
                        </div>
                    {{ form_end(addressForm) }}
                </div>
            </div>
        </div>
        
    {% endblock %}
        