{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Espace membre</h1>        
        <div class="row">
            <div class="col-md-3">
                {% include 'account/__menu.html.twig' %}
            </div>
            <div class="col-md-9">
               <div class="d-flex justify-content-between">
                <h5>Mes adresses</h5>
                <a href="{{ path('app_account_address_form') }}" class="btn btn-light">Ajouter une adresse</a>
               </div>
               {% if app.user.addresses|length == 0 %}
                <p>Vous n'avez pas encore enrgeistré d'adresses sur la boutique française</p>
               {% else %}
                <div class="row">
                    {% for address in app.user.addresses %}
                    <div class="col-md-4 mt-2">
                        <div class="bg-light p-2 text-center">
                            <strong>{{ address.firstname}} {{ address.lastname }}</strong><br>
                            {{ address.address}}<br>
                            {{ address.postal }}, {{ address.city }}<br>
                            {{ address.country }}
                            <a href="{{ path('app_account_address_form', {'id': address.id }) }}" class="text-secondary text-center">Editer</a>
                            <a href="{{ path('app_account_address_delete', {'id': address.id }) }}" class="text-secondary text-center">Supprimer</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
               {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}
    